@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--text-color);
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    display: grid;
    place-items: center;
	line-height: 1;
    background-color: #090909;
    background-size: cover;
    box-sizing: border-box;
    height: 100vh;
}
a{
    text-decoration: none;
    color: var(--title-color);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1{
    font-size: var(--h1-font-size);
}
h2{
    font-size: var(--h2-font-size);
}
h3{
    font-size: var(--h3-font-size);
}
h1,h2,h3,h4{
    color: var(--title-color);
    font-family: var(--title-font);
    font-weight: var(--font-semi-bold);
}


/********** VARIABLES CSS **********/
:root{

    --background : #090909 ;
    --box:#3F2700 ;
    --border: #8F6424;
    --title-color:#FFCA16;
    --text-color:#FFC53D;

    /********** Font and typography **********/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Ubuntu', sans-serif;;
    --title-font: 'Merriweather', serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /********** Font weight **********/
    --font-medium: 500;
    --font-semi-bold: 600;
}

/* Responsive typo for min 1024px screen  */
@media screen and (min-width: 1024px) {
    :root {
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}
.page-ctn{
    max-width: 1440px;
    width: 100%;
    padding: 20px;
}
/* HEADER */
header {
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

    .header_logo{
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            font-family: var(--title-font);
            font-size: var(--h1-font-size);
            color: var(--title-color);
            width: max-content;
        }
        img{
            width: 50px;
        }

    }

    .navbar{
        display: flex;
        align-items: center;

        .navbar-list{
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            a{
                font-weight: var(--font-semi-bold);
                display: block;
                text-align: center;
                padding: 10px;
                transition: all 0.4s ease;
                font-size: var(--normal-font-size);
            }
            
            a:hover {
                background-color: var(--title-color);
                color: var(--background);
            }
            .social-links{
                display: flex;
            }
        }
        .social-links{
            width: max-content;
        }     
        .social-links a img{
            width: 42px;
        }
        .burger-menu {
        display: none;
        cursor: pointer;
        font-size: 24px;
        color: var(--title-color);
        padding: 14px 16px;
        transition: all .3s ease;
        }
        .burger-menu:before {
            content: "\2630";
            display: inline-block;
            transition: transform 0.3s ease; 
        }
        
        .burger-menu.cross:before {
            content: "\00D7";
            transform: rotate(0deg); 
        }
        
        .burger-menu.active:before {
            transform: rotate(180deg);
        }
          
        @media screen and (max-width: 1090px) {
            .burger-menu {
                display: block;
            }
            .navbar-list {
                display: flex;
                flex-direction: column;
                background-color: var(--background);
                opacity: 0.8;
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                opacity: 0.8;
                width: 100%;
                text-align: center;
                position: fixed;
                top: 70px;
                left: -100%;
                transition: 0.3s;
            }
    
            .navbar-list.active {
                left: 0;
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
            }
    
            .navbar-list li {
                width: 100%;
            }
        }
    }  
}
/* MAIN */
section{
    margin: 50px 0px;
    z-index: 1;
}
/*  SECTION Home */
.home_container{
    position: relative;
    z-index: 1;
    h2{
        font-size: 6.5rem;
        width: 100%;
        text-align: center;
        text-shadow: 2px 7px 11px rgba(255,202,22,0.67);
        padding: 1rem;
    }
    
    .home_description{
        position: relative;
        .honey{
            width: 100%;
            border-radius: 20px;
        }
        p{
            bottom: 33%;
            right: 0;
            font-size: 2rem;
            margin-top: 2rem;
            background-color: var(--background);
            border-bottom: solid 2px var(--title-color);
            border-left: solid 2px var(--title-color);
            /* border-right: solid 2px var(--title-color); */
            padding: 1rem;
        }
        .slider-container {
            position: relative;
            width: 100%;
            max-width: 80%;
            margin: 0 auto;
            overflow: hidden;
        }
        
        .slides {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }
        
        .slide {
            min-width: 100%;
        }
        
        img {
            width: 100%;
            height: auto;
            display: block;
        }
        
        .pagination {
            display: flex;
            justify-content: center;
            margin: 10px;
        }
        
        .dot {
            height: 10px;
            width: 10px;
            margin: 0 5px;
            background-color: #bbb;
            border-radius: 50%;
            cursor: pointer;
        }
        
        .dot.active {
            background-color: var(--title-color);
            scale: 1.2;
        }
    }
    @media screen and (max-width: 1090px) {
        .home_description{
            h2{
                font-size: 3rem;
            }
            p{
                font-size: var(--normal-font-size) ;
                margin: 0;
            }
        } 
        
    }
}